#!/usr/bin/env python

from botbase import BotBase, botcmd
from gabiadmin import GabiAdmin
from gabichanneladmin import GabiChannelAdmin
from gabicustom import GabiCustom
from gabifun import GabiFun
from gabilog import GabiLog
from gabihelp import GabiHelp
from gabihate import GabiHate

import logging

logging.basicConfig()
#logging.basicConfig(filename='logs/gabi.log',level=logging.DEBUG)

class GabiBase(GabiAdmin, GabiChannelAdmin, GabiCustom, GabiFun, GabiHelp, GabiLog, GabiHate):
    pass
