#!/usr/bin/env python

from gabibase import GabiBase

username = ''
password = ''
nickname = 'Gabi'
room = ''
timezone = 'Europe/Zurich'
candy_colors = False

bot = GabiBase(username, password, timezone, candy_colors)
bot.join_room(room, nickname)
bot.serve_forever()
