#!/usr/bin/env python

from rmkgabibase import GabiBase

username = ''
password = ''
nickname = 'Gabi'
room = ''
timezone = 'Europe/Zurich'
text_color = None #or HTML HEY Colorcode

bot = GabiBase(username, password, timezone, text_color)
bot.join_room(room, nickname)
bot.serve_forever()
