#!/usr/bin/env python
# -*- coding: utf-8 -*-

from rmkgabibase import GabiBase

username = ''
password = ''
nickname = 'Gabi'
room = ''
timezone = 'Europe/Zurich'
text_color = None #or HTML HEY Colorcode

bot = GabiBase(username, password, nickname, timezone, text_color)
bot.join_room(room)
bot.serve_forever()
